// Place all the styles related to the Planets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
	border: solid black;
}

table {
	display: inline-block;
	background-color: lightgrey;
}

.form {
	display: inline-block;
	text-align: left;
	line-height: 40px;
}

h1 {
	background-color: darkblue;
	line-height: 100px;
	font-size: 45px;
	color: white;
}